@{
    //Layout = null;
}
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SocialNetwork</title>
</head>
<body>
    <h1>Wellcome</h1>
    <img src="http://25.media.tumblr.com/b0f2cbafd3e83824d0f8dd2b2260224b/tumblr_mf524xiRDw1rqggsro1_500.gif" alt="Yp4k">
    <img src="http://25.media.tumblr.com/3191541bb5c4862c10d9b705ad6b0bf7/tumblr_mf4shzDfWq1rjvu8wo1_500.gif" alt="Yp4k">
</body>
</html>