@{
    //Layout = null;
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SocialNetwork</title>
</head>
<body>
    <h3>SocialNetwork</h3>
    <a href="/Account/Register">Register</a>
    <a href="/Account/Login">Log in</a>
    <p></p>
    <table>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.UserName</td>
            </tr>
        }
    </table>
</body>
</html>