@{
    //Layout = null;
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SocialNetwork</title>
</head>
<body>
    <table>
        <tr>
            <td><h4>Новость 1</h4></td>
        </tr>
        <tr>
            <td><h4>Новость 2</h4></td>
        </tr>
        <tr>
            <td><h4>Новость 3</h4></td>
        </tr>
    </table>
</body>
</html>